<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAEQANHv7Pn4ui9MCHkzI6nwidNtmlbVg8</string>
	<key>GCM_SENDER_ID</key>
	<string>679102279162</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatty</string>
	<key>PROJECT_ID</key>
	<string>chatty-c7f64</string>
	<key>STORAGE_BUCKET</key>
	<string>chatty-c7f64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:679102279162:ios:46e341d9ed2b0f80470843</string>
</dict>
</plist>